<h1>All Moods</h1>
<% @moods.each do |mood| %>
<div class='Obiiz' id='own'>
<%= image_tag(mood.user.avatar_url, :class => 'photo', :title => mood.user.name) %>
<%= image_tag(mood.obii.image_url, :class => 'photo', :title => mood.obii.name) %>
<p><%= "Starts: #{mood.starts}" %><br/>
<%= "Ends: #{mood.ends}" %><br/>
<%= "Min group: #{mood.mingroup}" %><br/>
<%= "Max group: #{mood.maxgroup}" %><br/>
</p>
<%= link_to "Show", mood_path(mood) %>
</div>
<% end %>