<div class='Obiiz' id='own'>
<%= image_tag(@mood.user.avatar_url, :class => 'photo', :title => @mood.user.name) %>
<%= image_tag(@mood.obii.image_url, :class => 'photo', :title => @mood.obii.name) %>
<p><%= "Starts: #{@mood.starts}" %><br/>
<%= "Ends: #{@mood.ends}" %><br/>
<%= "Min group: #{@mood.mingroup}" %><br/>
<%= "Max group: #{@mood.maxgroup}" %><br/>
</p>
</div>
<% if @mood.user != current_user %>
	<% if @mood.open == true %>
	<div><%= render 'hangout_form' %></div>
	<% else %>
	This mood has ended
	<% end %>
<% else %>
	<% if @mood.open == true %>
	<div><%= render 'form_close_hangout' %></div>
	<% else %>
	You have ended this mood
	<% end %>
<%= link_to 'Edit', edit_mood_path(@mood) %>
<%= link_to 'Back', user_path(current_user) %>
<%= link_to 'Destroy', @mood, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

