<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="login">
    <%= f.label :name, "Username" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="login">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="signin">
    <%= f.submit "Login" %>
  </div>
<% end %>
