<h2> <% if @user == current_user %>
Your
<% else %>
<%= "#{@user.name}'s " %>
<% end %>
Bubble: </h2><br>
<%= image_tag(@user.avatar_url, :alt => @user.name, :class => "bigphoto") %><br>
<h1><%= @user.name %></h1><br/>
<% if @user == current_user %>
<p><%= link_to "What are you up to?", new_mood_path, id: 'addObii' %></p><br/>
<% end %>
<% if @moods.any? %>
<div class='Obiiz' id='own'>
<%= image_tag(@moods.last.user.avatar_url, :class => 'photo', :title => @moods.last.user.name) %>
<%= image_tag(@moods.last.obii.image_url, :class => 'photo', :title => @moods.last.obii.name) %>
<p><%= "Starts: #{@moods.last.starts}" %><br/>
<%= "Ends: #{@moods.last.ends}" %><br/>
<%= "Min group: #{@moods.last.mingroup}" %><br/>
<%= "Max group: #{@moods.last.maxgroup}" %><br/>
</p>
</div>
<% end %>
<p><h2><% if @user == current_user %>
Your
<% else %>
<%= "#{@user.name}'s " %>
<% end %>
Obiiz</h2><br/>
<div class='Obiiz' id='own'>
<table>
<tr>
  <% @obiis.each do |obii| %>
      <td><%= link_to image_tag(obii.image_url, :class => 'photo'), obii %><br>
      <%= obii.name %></td>
  <% end %>
  </tr>
</table>
</div>
</p>
<p>
<h2><% if @user == current_user %>
Your
<% else %>
<%= "#{@user.name}'s" %>
<% end %>
Friends</h2><br/>
<div class='Friends'  id='feed'>
</div>
</p>

<% if @user != current_user %>
<%= link_to 'Back', users_path %>
<% end %>