<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
  <% Mood.all.each do |mood| %>
  <% mood.close! %>
  <% end %>
  <div class= "container">
  	<% if signed_in? %>
   	<%= render 'layouts/header' %>
   	<%= render 'layouts/side_bar'%>
   	<% end %>
      <section <% if signed_in? %> class= "Bubble" <% end %>>
      	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
    	<%= yield %>
    	</section>
    	<%= render 'layouts/footer' %>
    	<%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>